.div1 {
  width: 100px;
  height: 100px;
  background-color: red;
  left: 75px;
  top: 20px;
  position: absolute;
}
.div2 {
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 5px solid white;
  left: 230px;
  top: 20px;
  position: absolute;
  transform: rotate(-10deg);
}
.div3 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 5px solid white;
  left: 190px;
  top: 110px;
  position: absolute;
  transform: rotate(45deg);
}
.div4 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 5px solid white;
  position: absolute;
  top: 70px;
  left: 100px;
  transform: rotate(25deg);
}
.div5 {
  width: 100px;
  height: 100px;
  background-color: violet;
  border: 5px solid white;
  position: absolute;
  top: 60px;
  left: 10px;
  transform: rotate(15deg);
}
